@use "../abstracts/variables" as *;

.btn-primary {
  width: 164px;
  height: 48px;
  border-radius: $radius-lg;
  background: $gradient-primary;
  color: $white;
  font-weight: 600;
}

.feature-card {
  width: 384px;
  height: 254px;
  background: $bg-light;
  border-radius: $radius-md;
  padding: 30px;
}
